{% extends "network/layout.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="mb-3 post new-post">
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <label for="new-post" class="form-label"><h4>New Post</h4></label>
                <textarea class="form-control" id="new-post" rows="3" name="content" placeholder="What are you thinking? "></textarea>
                <input type="url" class="post-input" name="post_image" pattern="https?://.*" placeholder="URL Image">
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
    {% endif %}
    <hr>
    {% for post in page_obj %}
        <div class="mb-3 post" id="post{{ post.pk }}" data-id="{{ post.pk }}">
            {% if post.user == request.user %}
                <button class="edit_btn btn btn-primary">Edit</button>
            {% endif %}
            <div class="container-profile">
                <img src="{{ post.user.photo }}" class="profile-photo">
                <div class="stats-container">
                    <a href="{% url 'user' username=post.user %}"><h5>{{ post.user }}</h5></a>
                    <p class="gray">{{ post.timestamp }}</p>
                </div>
            </div>
            <div class="post_content">
                {{ post.content }}
            </div>
            {% if post.image %}
                <div class="container-image">
                    <img src="{{ post.image }}" alt="Post Image" class="post-image">
                </div>
            {% endif %}
            <button class="save_btn btn btn-primary" hidden>Save</button>
            <button class="cancel_btn btn btn-secondary" hidden>Cancel</button>
            {% if post in liked_posts %}
                <i data-action="unlike" class="fa-solid fa-heart fa-lg"></i>
            {% else %}
                <i data-action="like" class="fa-regular fa-heart fa-lg"></i>
            {% endif %}
            <span class="qtt_likes gray">{{ post.qtt_likes }}</span>
        </div>
    {% endfor %}
    <nav aria-label="pages">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link disabled" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
