{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/scripts.js' %}"></script>
        <script src="https://kit.fontawesome.com/75bc2abf7c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main"></div>
            {% if user.is_authenticated %}
            <div class="navigation">
                <ul class="nav flex-lg-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><img src="{% static 'network/images/logo_name.png' %}" class="logo-bar"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user' username=user.username %}">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
            {% endif %}

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
