{% extends "network/layout.html" %}
{% load static %}

{% block content %}
    <div class="sign-form">
        <div>
            <img class="logo" src="{% static 'network/images/logo.png' %}">
        </div>
        <h3>Connect</h3>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <div class="alternative">
                    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>

{% endblock %}
