.post {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

input[type=submit][value="Post"] {
    margin-top: 5px;
}

body {
    display: flex;
    background-image: url("images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.content {
    padding: 10px;
    color: #f2f2f2;
    width: 60%;
}

.navbar {
    height: 100vh;
    width: 20vw;
    position: fixed;
}

.logo {
    max-width: 300px;
}

.main {
    width: 100%;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    clip-path: circle();
    width: 100px;
    height: auto;
}

.post-image {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
    width: auto;
    margin-left: 0 auto;
}

.container-image {
    text-align: center;
    max-width: 100%;
    max-height: 50vh;
}

.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    width: 80vw;
    color: #f2f2f2;
    text-align: center;
}

input.form-control {
    background-color: transparent;
    border: 1px solid #737373;
    color: #f2f2f2;
}

input.form-control:focus {
    background-color: transparent;
    border: 1px solid #590aa4
}

.form-control:focus {
    box-shadow: unset;
}

a {
    color: #590aa4
}

a:hover{
    color: #7a2fc0
}

.alternative {
    margin-top: 2px;
    text-align: left;
    font-size: smaller;
    color: #f2f2f2
}

#icon {
    width: auto;
    height: 80px;
}

.btn-primary {
    background-color: #2d144e;
    color: #f2f2f2;
    border: unset;
}

.btn-primary:hover {
    background-color: #2d144e;
    box-shadow: 0px 0px 6px 2px #590aa4;
}

.gray {
    color: #686868
}

#user-stats {
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#user-title {
    display: flex;
}

.follow-btn {
    font-size: smaller;
    background-color: #0095f7;
    border: 0px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.edit_btn {
    float: right;
}

.post_content {
    margin-top: 8px;
    margin-bottom: 12px;
    margin-right: 65px;
}

.fa-regular {
    color: #686868;
    transition: 0.4s
}

.fa-solid {
    color: #ff3333
}

.fa-heart:hover {
    color: #ff3333
}
